# =====================
# Build results
# =====================
bin/
obj/
out/
publish/

# =====================
# Visual Studio
# =====================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =====================
# Rider / JetBrains
# =====================
.idea/
*.DotSettings.user

# =====================
# Logs
# =====================
*.log
logs/

# =====================
# Windows
# =====================
Thumbs.db
Desktop.ini

# =====================
# NuGet
# =====================
*.nupkg
.nuget/

# =====================
# OS
# =====================
.DS_Store